@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic");
/*=================================================================*/
/*                      BASE                              
/*=================================================================*/
* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0 !important;
  overflow: auto !important;
}

body {
  color: #5E5C7F;
  background-color: #F9F9FF;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.img-rounded{
  border-radius:100%;
  border: 5px solid #302f4e;
  height: 16em;
}
img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

/*=================================================================*/
/*                      TYPOGRAPHY                              
/*=================================================================*/
h1, h2, h3, h4, h5, h6 {
  color: #454360;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin: 20px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  color: #FF4C60;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #353353;
  text-decoration: none;
}
a:focus {
  outline: 0;
}
.text-Size{
  font-size: 2em;
}

blockquote {
  padding: 20px 20px;
  margin: 0 0 20px;
  font-size: 16px;
  background: #F7F7F7;
  border-radius: 10px;
}

blockquote p {
  line-height: 1.6;
}

/*=================================================================*/
/*                      SECTIONS                             
/*=================================================================*/
main.content {
  margin-left: 290px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
main.content.open {
  opacity: 0.8;
  -webkit-transform: translateX(290px);
  -moz-transform: translateX(290px);
  -ms-transform: translateX(290px);
  -o-transform: translateX(290px);
  transform: translateX(290px);
}

main.content-2 {
  margin-left: 110px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
main.content-2.open {
  opacity: 0.8;
  -webkit-transform: translateX(110px);
  -moz-transform: translateX(110px);
  -ms-transform: translateX(110px);
  -o-transform: translateX(110px);
  transform: translateX(110px);
}

section {
  padding-top: 110px;
  position: relative;
}

section.home {
  background: #353353;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}
section.home .intro {
  margin: auto;
  max-width: 540px;
  text-align: center;
  position: relative;
  z-index: 1;
}
section.home .intro h1 {
  color: #FFF;
  font-size: 36px;
}
section.home .intro span {
  color: #FFF;
  font-size: 16px;
}
section.home .social-icons li a {
  color: #FFF;
}
section.home.light {
  background: #F9F9FF;
}
section.home.light .intro h1 {
  color: #353353;
}
section.home.light .intro span {
  color: #454360;
}
section.home.light .social-icons li a {
  color: #353353;
}
section.home.light .social-icons li a:hover {
  color: #FFD15C;
}

.section-title {
  font-size: 36px;
  margin: 0;
  margin-left: 14px;
  position: relative;
}

/*=================================================================*/
/*                      Skils                              
/*=================================================================*/

.cls-hover:hover{
  opacity: 0.8;
  border: #fff solid 2px;
  transition: all 0.4s ease-in;
}
/*=================================================================*/
/*                      DARK MODE                              
/*=================================================================*/
body.dark {
  color: #FFF;
  background-color: #353353;
}
body.dark .section-title {
  color: #FFF;
}
body.dark .bg-dark {
  background: #302f4e !important;
}
body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5, body.dark h6 {
  color: #FFF;
}
body.dark .triangle-top:before {
  border-bottom-color: #302f4e;
}
body.dark .timeline.exp .timeline-container::after, body.dark .timeline.edu .timeline-container::after {
  background: #302f4e;
}
body.dark a:hover {
  color: #FFF;
}

/*=================================================================*/
/*                     BUTTONS
/*=================================================================*/
.btn {
  border-radius: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  line-height: 1;
  padding: 12px 32px;
  position: relative;
}
.btn:focus {
  box-shadow: none;
}

.btn:focus {
  outline: 0;
}

@-webkit-keyframes button-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.btn-default {
  color: #FFF;
  background: #FF4C60;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.btn-default:hover {
  color: #FFF;
  -webkit-animation-name: button-push;
  animation-name: button-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.btn-full {
  text-align: center;
  width: 100%;
}

.btn-group-lg > .btn, .btn-lg {
  padding: 28px 30px;
  font-size: 18px;
  font-weight: 100;
  line-height: 0;
}

.btn-sm {
  padding: 17px 16px;
  font-size: 12px;
  line-height: 0;
}

.btn-xs {
  padding: 12px 10px;
  font-size: 12px;
  line-height: 0;
}

/*=================================================================*/
/*                     BOOTSTRAP ELEMENTS
/*=================================================================*/
.breadcrumb {
  font-size: 14px;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
}

.breadcrumb > .active {
  color: #9c9c9c;
}

/* === Form Control === */
.form-control {
  display: block;
  border-radius: 30px;
  width: 100%;
  height: 60px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #454360;
  background-color: #FFF;
  background-image: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  outline: 0;
}

.form-control::-webkit-input-placeholder {
  /* Edge */
  color: #AEACCA;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #AEACCA;
}

.form-control::placeholder {
  color: #AEACCA;
}

.form-group {
  margin-bottom: 30px;
}

.input-group-addon {
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}


/* === Pagination === */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  border-radius: 4px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-radius: 50%;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 50%;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #454360;
  border-color: transparent;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  font-weight: 400;
  height: 46px;
  line-height: 32px !important;
  margin-left: 11px;
  line-height: 1.42857143;
  color: #1a1a1a;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #EEE;
  border-radius: 50%;
  width: 46px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  z-index: 2;
  color: #FFF;
  background-color: #454360;
  border-color: transparent;
}

/*=================================================================*/
/*                      THEME ELEMENTS
/*=================================================================*/
/* === Timeline === */
.timeline {
  position: relative;
}

.timeline .timeline-container {
  padding-left: 50px;
  margin-bottom: 50px;
  position: relative;
  background-color: inherit;
  width: 100%;
}
.timeline .timeline-container:last-of-type {
  margin-bottom: 0;
}

.absolute-font  {
  background: transparent;
  font-size: 20px;
  color: #976f74;
  position: absolute;
  left: -8px;
  top: 0;
  z-index: 1;
}

.timeline.exp .timeline-container::after {
  content: "";
  background: #FFF;
  font-family: "simple-line-icons";
  font-size: 24px;
  color: #FF4C60;
  position: absolute;
  left: -7px;
  top: 0;
  z-index: 1;
}

.timeline .content {
  position: relative;
}

.timeline .content .time {
  color: #8B88B1;
  font-size: 14px;
}

.timeline .content h3 {
  font-size: 20px;
  margin: 10px 0;
}

.timeline .content p {
  margin: 0;
}

.timeline span.line {
  position: absolute;
  width: 1px;
  background-color: #FF4C60;
  top: 30px;
  bottom: 30px;
  left: 34px;
}

/* === Social Icons === */
.social-icons li:not(:last-child) {
  margin-right: 1.5rem;
}
.social-icons li a {
  font-size: 21px;
}
.social-icons.light li a:hover {
  color: #FFD15C;
}

/* === Helper === */
.rounded {
  border-radius: 20px !important;
}

.bg-white {
  background: #FFF;
}

.shadow-dark, .desktop-header-3 .dropdown-menu, .form-control, .form-control:focus {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  -moz-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.shadow-light {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.01);
  -moz-box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.01);
  box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.01);
}

.shadow-blue {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
  -moz-box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
  box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
}

.shadow-pink {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(249, 123, 139, 0.5);
  -moz-box-shadow: 0px 5px 20px 0px rgba(249, 123, 139, 0.5);
  box-shadow: 0px 5px 20px 0px rgba(249, 123, 139, 0.5);
}

.shadow-yellow {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5);
  -moz-box-shadow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5);
  box-shadow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5);
}

.padding-30 {
  padding: 30px;
}

.triangle-top:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF;
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-7.5px);
}

.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6 {
  color: #FFF;
}

/*=================================================================*/
/*                      SERVICES
/*=================================================================*/
.work-pross-area {
  background: #002650;
}

h2.titles-white {
  color: #fff;
}

.single-work-pros h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
}
.single-work-icon i {
  font-size: 50px;
  color: #ff6136;
  border: 2px dashed #275282;
  width: 200px;
  height: 200px;
  line-height: 186px;
  border-radius: 50%;
  transition: .3s;
}
.prs-pareent .col-xl-3:nth-child(1) .single-work-icon i{
  color: #ff6136;
}
.prs-pareent .col-xl-3:nth-child(2) .single-work-icon i{
  color: #25bfff;
}
.prs-pareent .col-xl-3:nth-child(3) .single-work-icon i{
  color: #ffbf36;
}
.prs-pareent .col-xl-3:nth-child(4) .single-work-icon i{
  color: #95b66f;
}

.prs-pareent .col-xl-3:nth-child(1) .single-work-pros:hover .single-work-icon i{
  border-color: #ff6136;
}
.prs-pareent .col-xl-3:nth-child(2) .single-work-pros:hover .single-work-icon i{
  border-color: #25bfff;
}
.prs-pareent .col-xl-3:nth-child(3) .single-work-pros:hover .single-work-icon i{
  border-color: #ffbf36;
}
.prs-pareent .col-xl-3:nth-child(4) .single-work-pros:hover .single-work-icon i{
  border-color: #95b66f;
}
/*=================================================================*/
/*                      RESPONSIVE SETTINGS
/*=================================================================*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  html,
body {
    width: 100%;
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .price-item {
    padding: 40px 30px;
  }
}
@media only screen and (max-width: 991px) {
  header.desktop-header-1 {
    -webkit-transform: translateX(-290px);
    -moz-transform: translateX(-290px);
    -ms-transform: translateX(-290px);
    -o-transform: translateX(-290px);
    transform: translateX(-290px);
  }

  header.mobile-header-1 {
    display: block;
  }

  main.content {
    margin-left: 0;
  }

  header.desktop-header-2 {
    -webkit-transform: translateX(-110px);
    -moz-transform: translateX(-110px);
    -ms-transform: translateX(-110px);
    -o-transform: translateX(-110px);
    transform: translateX(-110px);
  }

  header.mobile-header-2 {
    display: block;
  }

  main.content-2 {
    margin-left: 0;
  }

  .desktop-header-3 .nav-link {
    padding: 7px 0;
  }
}
@media only screen and (max-width: 768px) {
  section.home {
    padding: 300px 0;
  }

  .portfolio-filter {
    display: none;
  }

  .portfolio-item, .blog-item {
    max-width: 360px;
    margin: auto;
  }

  .blog-wrapper {
    margin: -20px 0;
  }
  .blog-wrapper .blog-item {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  section.home .cta h1 {
    font-size: 52px;
  }

  section.home .cta p {
    font-size: 18px;
  }

  .pf-filter-wrapper {
    display: block;
  }

  .triangle-top-sm:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-7.5px);
  }

  body.dark .triangle-top-sm:before {
    border-bottom-color: #302f4e;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 920px;
  }

  .triangle-left-md:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #FFF;
    position: absolute;
    left: 0;
    top: 20%;
  }

  body.dark .triangle-left-md:before {
    border-right-color: #302f4e;
  }
}
@media only screen and (max-width: 576px) {
  .portfolio-info li {
    display: block;
    padding: 5px 0;
  }

}
